<?xml version='1.0' encoding='utf-8'?>
<widget id="jurchi.com.average" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AverageBets</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
	<preference name="AndroidLaunchMode" value="singleTask" />
	<preference name="OverrideUserAgent" value="Mozilla/5.0; Chrome/117.0.0.0; Mobile Safari 537.36; Cordova" />
	<config-file target="AndroidManifest.xml" parent="/manifest/application/activity[@android:label='@string/activity_name']">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="average" />
                <data android:host="fettihitmobile.dx.am" />
            </intent-filter>
        </config-file>
</widget>
